{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">
<article>
        <header> <h1 class="entry-title"><a href="{{ article.url }}"
        rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title
        }}</a></h1> {% include 'twitter.html' %} </header>
        <div class="entry-content">
        {% include 'article_infos.html' %}<!-- /.post-info -->
        {{ article.content }}
	
	<h2><a href="{{ SITEURL }}/pages/gallery.html#{{ article.album }}">{{ article.album }}</a></h2>
	<ul>
	{% for image in article.galleryimages %}
		<li><a class="{{ article.album }} cboxElement" href="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}"><img src="{{ SITEURL }}/images/gallery200x200/{{ article.album }}/{{ image }}"></a></li>
	{% endfor %}
	</ul>

        </div><!-- /.entry-content -->
        {% if DISQUS_SITENAME %}
        <div class="comments">
        <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}

</article>
</section>
{% endblock %}
